<div style="text-align: center; margin: 0 auto; font-family: Arial, sans-serif;">
  <div style="margin-bottom: 20px;">
    <% attachments.inline['iswo_logo.webp'] = File.read(Rails.root.join("app/assets/images/iswo_logo.webp")) %>
    <%= image_tag attachments['iswo_logo.webp'].url, style: 'max-width: 200px; height: auto;', alt: 'ISWO Logo' %>
  </div>
  <h1 style="background-color: #1a237e; color: white; padding: 20px; text-align: center; margin: 0; width: 100%;">
    ¡Hola <%= @resource.email %>!
  </h1>

  <div style="padding: 20px;">
    <p style="margin: 20px 0;">Alguien ha solicitado un enlace para cambiar tu contraseña en ISWO.</p>

    <p style="margin: 20px 0;">Puedes hacerlo a través del siguiente botón:</p>

    <div style="text-align: center;">
      <%= link_to 'Cambiar mi contraseña', 
          "#{ENV.fetch('FRONT_URL', 'http://localhost:3000')}/users/update-passwords?reset_password_token=#{@token}",
          style: 'background-color: #0d47a1; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; display: inline-block; margin: 20px 0;' %>
    </div>

    <p style="margin: 20px 0;">Si no solicitaste esto, por favor ignora este correo.</p>
    
    <p style="margin: 20px 0;">Tu contraseña no cambiará hasta que accedas al enlace y crees una nueva.</p>
  </div>
</div>